<!DOCTYPE html>
<html>
<!--
  A product of LA HACKS-
  created by: Louis Williams, Chris Altonji, Sidney Durant, and Hunter Rosenblume
-->
<head>
  <title>SelfieAware</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Selfie Aware uses advanced facial recognition algorithms to calculate selfiness">
    <meta name="author" content="Hunter Rosenblume, Louis Williams, Chris Altonji, Sidney Durant">
    <meta property="og:image"content="http://selfieaware.com/assets/insta.png" />
    <meta property="og:title" content="SelfieAware"/>
    <meta property="og:url" content="http://www.SelfieAware.com"/>
    <meta property="og:description" content="Selfie Aware uses advanced facial recognition algorithms to calculate selfiness"/>
    <meta property="og:locale" content="en_US"/>
    <link rel="shortcut icon" href="assets/images/favicon.ico">
    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= yield %>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49983217-1', 'selfieaware.com');
  ga('send', 'pageview');

</script>
</body>
<!--                                             
                              I???????????I.
                             ,?????????????,
                             +??????????????
              .         ..+???????????????????+.          .
             .???.    I+?????????????????????????+I .  .I??,.
           .=???????????????+?+++++++++++++?+???????+???????I.
          .??????????????+++++++++++++++++++++++??????????????,.
         ?????????????+++++++++++++++++++++++++++++????????????+
       .????????????+++++++++++++++++++++++++++++++++????????????,.
       ???????????+++++++++++++++++++++++++++++++++++++???????????
       .???????+++++++++++++++++++++++++++++++++++++++++++???????.
       .???????+++++++++++++++++++++++++++++++++++++++++++???????.
        .?????++++   ... =+++++++++++++++? ..... ~?+++++++++????.
        +????+++++       =+++++++++++++++,       =~++++++++++???+
       I????++++++       =+++++++++++++++         .++++++++++????I.
      +???++++++++       =+++++++++++++++         .?++++++++++????+
      +??+++++++++       =++++++++++++++          .,++++++++++++???
     ~???+++++++++   +.  =++++++++++++++          .:?+++++++++++???=.
 . +????++++++++++    .  =+++++++++++++~          .:,++++++++++++???+= .
?????????+++++++++    .  =+++++++++++++           .: +++++++++++?????????
????????++++++++++    .  =++++++++++++=.          .: ?+++++++++++???????+
????????++++++++++    .  =++++++++++++       .    .: .+++++++++++???????+
????????++++++++++    .  =++++++++++++.      +=.  .: .+++++++++++???????+
????????++++++++++    .  =+++++++++++:       ++   .:  =++++++++++???????+
????????++++++++++ ....  =+++++++++++       ,++~   :   ++++++++++???????+
????????++++++++++    .          ++++       ++++.  :  .~+++++++++???????+
+????????+++++++++    .          +++.      ,++++.  :    ++++++++????????+
 ..I+???++++++++++    .       .. +++.     .?+++++ .?:  .?++++++++????I .
     =???+++++++++    .       =I ++.       ++++++       ,+++++++???=.
      ???+++++++++...............++.......=++++++=......~+++++++???
      ?????+++++++++++++++++++++++++++++++++++++++++++++++++++?????
       I???+++++++  +++  +++++ ++++++~    ++  ++  +++    +++++???I
        ???+++++++  +++  ++++~  ++++  +++ ++  +  +++  ++++++++???
        .????+++++       ++++    +++  ++++++   ++++++=  +++++???.
       .I?????++++  +++  +++~  +  ++  +++ ++  +  ++++++  ++?????I.
       .???????+++  +++  +++  ++  +++~   +++  ++  ++    ++???????
       I?????????++++++++++++++++++++++++++++++++++++++++????????I
      .,??????????+++++++++++++++++++++++++++++++++++++??????????~
         ???????????+++++++++++++++++++++++++++++++++???????????.
         .,????????????+++++++++++++++++++++++++++????????????~.
            ???????++??????+?+++++++++++++++?+???????+???????.
             ,??I, ...??????????+++++++++??????????... ,I??~.
                         ~I+?????????????????+I~
                             +?????????????+.
                             :?????????????:
                             .I???????????I
-->
</html>